.tabs {
    .tab-header-wrap {
        display: flex;
        padding: 0 1px;

        flex-direction: row;
        z-index: 100;

        @media (max-width: $tablet-min) {
            position: relative;
            background: $c-bg-main;
            padding: 0;

            display: flex;
            flex-direction: column;

            & > .tab-header {
                position: relative;
                border-bottom: 1px solid $c-bg-main;
                border-top: 1px solid $c-bg-main;
            }

            // tab headers
            :nth-child(1) {
                border-top: 1px solid $c-border;
            }

            :nth-child(2) {
                z-index: -10;
            }
            :nth-child(3) {
                z-index: -20;
            }
            :nth-child(4) {
                z-index: -30;
                border-bottom: 1px solid $c-border;
            }

            &:hover {
                &.tab-header-wrap {
                    :nth-child(2) {
                        position: absolute;
                        animation: 0.5s linear 0s forwards
                            show_second_tab_header;
                    }
                    :nth-child(3) {
                        position: absolute;
                        animation: 0.5s linear 0s forwards show_third_tab_header;
                    }
                    :nth-child(4) {
                        position: absolute;
                        animation: 0.5s linear 0s forwards
                            show_fourth_tab_header;
                    }
                }

                & > .tab-header {
                    display: block;

                    // стрелка становится невидимой
                    &.active::after {
                        opacity: 0;
                        transition: opacity 0.2s ease-in;
                    }
                }
            }
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color 0.2s linear;

        @media (max-width: $tablet-min) {
            width: 100%;
            background: $c-bg-main;
            border: 1px solid $c-border;
        }

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
            position: relative;

            @media (max-width: $tablet-min) {
                box-shadow: none;
                border: 1px solid $c-border;

                // стрелка вниз
                &::after {
                    content: " ";
                    position: relative;
                    left: 10px;
                    bottom: -20px;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $c-text-main;

                    opacity: 1;
                    transition: opacity 0.5s ease-in;
                }
            }
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }

            @media (max-width: $tablet-min) {
                display: none;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;

        @media (max-width: $tablet-min) {
            border-top: none;
        }
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }
    }

    .image-container {
        display: block;
        height: 300px;
        width: 300px;
        margin: 0 auto;
        overflow: hidden;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        position: relative;

        & > img {
            position: relative;
            top: 0px;
            left: 0px;
            max-width: initial;
            pointer-events: none;
        }

        &.drag {
            cursor: grab;
        }
        &.hover {
            cursor: move;
        }
    }
}
