@keyframes show_second_tab_header {
    from {
        opacity: 0;
        transform: translate(0, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 100%);
    }
}

@keyframes show_third_tab_header {
    from {
        opacity: 0;
        transform: translate(0, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 200%);
    }
}

@keyframes show_fourth_tab_header {
    from {
        opacity: 0;
        transform: translate(0, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 300%);
    }
}
